<section class="feature-section product-padd">
    <div class="container">
		<div class="feature-title text-center margin-btm40">
			<h2> Our Products </h2>
		</div>
		<% if @products.blank? %>
			<p> No Records found </p>
		<% else %>
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="product-section">
						<% @products.each do |product|%>
							<div class="col-sm-4 margin-btm40">
								<div class="product-inner">
									<div class="single-item center">
										<figure class="image-box">
											<%= image_tag product.image.url(:medium) %>
										</figure>
										<div class="content">
											<h2> <i class="fa fa-product-hunt"></i><%= product.name %> </h2>
											<h2>
												<i class="fa fa fa-plus-square-o"></i>
												<%= product.tech %>
											</h2>

											<span class="quantity"> 
												<i class="fa fa material-icons"></i>
												<%= product.quantity %>
											</span>
										</div>
										
										<!-- Overlay -->
										<div class="overlay-box">
											<div class="inner">
												<div class="top-content">
													<ul>
														<li> 
															<a href="#">
																<i class="fa fa-eye"></i>
															</a>
														</li>
													</ul>
												</div>
												<div class="bottom-content">
													<p> <%= product.description  %>  
														<a href="product-inner.php"> Read More ... </a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- col-sm-4 -->
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</section>
	<!-- Close Products Section -->